<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form>
                <div class="mb-3">
                    <label for="typeahead-basic">Cédula del técnico</label>
                    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Ingrese el número de la cédula del técnico"/>
                </div>
                <!-- <div class="mb-3">
                    <label for="typeahead-basic">Número de servicio</label>
                    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Ingrese el número del servicio"/>
                </div> -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Fecha inicio</label>
                            <owl-date-time-inline [(ngModel)]="selectedMoment"></owl-date-time-inline>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Fecha fin</label>
                            <owl-date-time-inline [(ngModel)]="selectedMoment1"></owl-date-time-inline>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 d-flex align-items-center juntify-content-center">
            <!-- <div class="row">hola</div> -->
            <div class="row w-100">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>